<nav>
	
					<ul class="admin-navbar">
            
						<li class="nav-item">
							 <a class="dropdown-item" href="{{ path('app_admin_main')  }} ">Calendrier</a>
						</li> 

						<li class="nav-item">
							<a class="dropdown-item" href="{{ path('app_calendar_new') }} "> Créer une séance (rdv)</a>
						</li> 
							    <li class="nav-item">
							<a class="dropdown-item" href="{{ path('app_calendar_index') }}"> modifier </a>
						</li> 

                        
					</ul>

</nav>
