<nav>
	
					<ul class="admin-navbar">
            
						<li class="nav-item">
							 <a class="dropdown-item" href="{{ path('admin_seance_list')  }} ">Séances</a>
						</li> 

						<li class="nav-item">
							<a class="dropdown-item" href="{{ path('seance_create') }} "> Créer une séance</a>
						</li> 
							    <li class="nav-item">
							<a class="dropdown-item" href="{{ path('categorie_list') }} "> Catégories </a>
						</li> 
                        <li class="nav-item">
							<a class="dropdown-item" href="{{ path('categorie_create') }}">Créer une catégorie </a>
						</li>
                        
					</ul>

</nav>
