{% extends 'base.html.twig' %}

{% block title %}toutes les séances{% endblock %}

{% block body %}
<main class="container">
   <section class="row">
        <div class="col-12">
          <h1> Toutes les séances</h1>
           {% for seance in seances %}
           <div class="container">
             <div class="row align-items-start"> 
                {% include "seance/_seance_categorie_card.html.twig" %}
             </div>
          </div>
           
          {% endfor %} 
       </div>           
   </section>
</main>  
{% endblock %}
