{% extends 'base.html.twig' %}

{% block title %}admin-categorie
{% endblock %}

{% block body %}

	<main class="container">
		<h1>{{  categorie.title }}
		</h1>
	
			<p>
				
			</p>
      <p>
				{{  seance.name }}
			</p>

	
	</main>
{% endblock %}
