{% extends 'base.html.twig' %}

{% block title %}Éolia!{% endblock %}

{% block body %}
    <div class="titremobil">
           
              <img src= "{{ asset('assets/uploads/char-accueil.jpg')}}" alt ="char à voile Baie de Somme"/>
              <h1> Char à Voile Baie de Somme</h1>
              <h2> Fort Mahon et Quend-Plage</h2>
           
            </div>  
{% endblock %}
