/***************************************
         CSS  MOBIL FIRST
**************************************/

/************generalités******************/

/* *****************************************************************
Tools
***************************************************************** */

* {
    box-sizing: border-box;
    /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}

html {
    font-size: 62.5%;
 
      
}

@font-face {
    font-family: 'stay_classy_sldtregular';
    src: url('assets/font/stay_classy_sldt-webfont.woff2') format('woff2'),
         url('assets/fontstay_classy_sldt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


 p {
    font-size: 2rem;
    line-height: 3rem;
    margin: 1.5rem 0rem 1.5rem 0rem;
}


h1 {
    font-size: 4rem;
    margin: 1.5rem;
    line-height: 4rem;
}

h2 {
    font-size: 3rem;
    margin: 1.5rem;
    line-height: 3rem;
}

h3 {
    font-size: 1.9rem;
    margin: 1.5rem;

}

img {
    max-width: 100%;
    height: auto;
    margin: 1.5rem 0rem 1.5rem 0rem;
}

/************************************
generalites
/*************************************/

body {

    font-family: 'stay_classy_sldtregular';
    color: #101936;
    background: #fbfaf8;
    /*  text-shadow: 0 0 0.02em #000, 0 0 0.02em #000;*/
}

.container {

    margin: 0 auto;
    margin: 0 auto;
    display: block;

    
}

section {
    margin:5rem;
}

li {
    list-style: none;
    font-size: 2rem;
    padding: 0.5em;

}

a {
    text-decoration: none;
    color: #3383a9;
}

label,
input {
    font-size: 2rem;
    text-align: center;
    display: block;
    margin:1.5rem;
}

.btn {
    font-size:1.8rem;
    margin:1.5rem;
    padding:1rem;
    border-radius: 0.5rem;
}

td, th {
    font-size:1.5rem;
}

/*******************************
header
************************************/




a.nav-link {
    font-size: 0.8em;
    margin: 0.8em;
}


.navbar-toggler collapsed {
    font-size: 3em;
    margin-right: 1em;
}

.admin-navbar {
    background-color: #6c757d;
    color:#eaf4fe;
    border-radius: 0.5rem;
    max-width: 800px;
    margin:3rem;
}


/*////////////////////////////////////// 
//////////       body  (mobil)      //////////
//////////////////////////////////////*/

#slider {
    display: none;
}  




.titreh1 {
    text-align: center;
    font-size: 5rem;
    line-height: 5rem;
} 

.titreh2 {
    text-align: center;
    margin:0rem 5rem 0rem 5rem;
    line-height: 3rem;
} 


.htitrecat {
    margin:4rem;
    font-size: 5rem;
}

/* div des 3 activites */
.activiteaccueil {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
    height:700px;
    justify-content: space-around;
}



.activitechar, .activitekid, .activitecata {
    position: relative;
    width: 300px;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
}



.activitecata::after {
    content: "";
   /* max-width:300px ;*/
    background : url(https://127.0.0.1:8000/assets/uploads/miniature-cata-accueil1.jpg);
    -webkit-background-size: cover;
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:168px;
    width:300px;
    z-index: -1;
}

.activitekid {
    position: relative;
    padding-bottom: 1rem;

}
.activitekid::after {
    content: "";
   /* max-width:300px ;*/
    background : url(https://127.0.0.1:8000/assets/uploads/charbabyaccueil.jpg);
    -webkit-background-size: cover;
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:168px;
    width:300px;
    z-index: -1;
}

.activitechar {
    position: relative;
    padding-bottom: 1rem;

}
.activitechar::after {
    content: "";
   /* max-width:300px ;*/
    background : url(https://127.0.0.1:8000/assets/uploads/groupe-cha-mini-1.jpg);
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:168px;
    width:300px;
    z-index: -1;
}



.lienaccueil {
    font-size:3rem;
    color: white;
    text-shadow: #000000 2.5px 0 1px;
    --bs-link-hover-color: rgba(251,250,248,0.8);
    animation-duration: 6s;
    animation-name: slidein;
    
}

@keyframes slidein {
    from {
      opacity: 0;
   
    
    
    }
  
    to {
        opacity:1;
     
       

    }
}

.lienaccueilkid {
    font-size:3rem;
    color: white;
    text-shadow: #000000 2.5px 0 1px;
    --bs-link-hover-color: rgba(251,250,248,0.8);
    animation-duration: 6s;
    animation-name: slidein;
    
}

@keyframes slidein {
    from {
      opacity: 0;
 
    
    }
  
    to {
        opacity:1;
     
       

    }
}





.carte{
    margin:2rem 1rem 2rem 1rem;
}

.container-fluid {
    background: #eaf4fe;
}

.navbar-toggler-icon {
    font-size: 4em;

}

/*////////////////////////////////////// 
//////////       description      //////////
//////////////////////////////////////*/


.img-accueil-desktop {
    display: none;
}




.titremobil {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.imgtitretablett {
    display:none;
}

.description,
.fortmahon,
.quendplage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/****************************************************
                         page paiement stripe
**************************************************/
#payment-form {
    max-width: 300px;
}



/***********************************************************************
************              Footer     *********************************
*********************************************************************/


.reseaux {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.reseaux a {
    margin: 0 1rem;
    font-size: 0.8rem;
}

.reseaux a:hover,
.reseaux a:focus {
    color: #3383a9;
}

.légales {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

a.fab.fa-facebook-square {
    /*color: #3b5998;*/
    color:#6c757d;
}

a.fab.fa-youtube-square {
   /* color: #cd201f;*/
   color:#6c757d;
}

a.fab.fa-instagram-square {
   /* color: #262626;*/
    color:#6c757d;
}

a.fab {
    font-size: 6rem;
   
}

#footer  {
    background-color: #eaf4fe;
    padding: .5rem;
    margin-top:15rem;
}

.reseauxsociaux {
    display: flex;
    justify-content: center;
    margin: auto 0;
    margin: 4rem 2rem 4rem 0rem;
    color: #fff;
    flex-direction: column;
    align-items: center;
}


#footer nav ul li a {
    color:#6c757d;
    font-size: 1.5rem;
    display: inline-block;
    text-align: center
}










/*********************************************************************************************************
          version tablette                       version tablette                       version tablette
*******************************************************************************************************/
@media screen and (min-width:750px) {
#payment-form {
    max-width: 600px;
}



body > div.navbaraccueil > nav {
    flex-wrap: wrap;
  }

  body > nav > div {
    flex-wrap: inherit;
    color: #fbfaf8;
  }

  .imgsite {
    max-width:300px;
}
.imgtitretablett {
    display:flex;
}

.haccueil {
    display:none;
    
}


.activiteaccueil {
  height: 170px;
  width: 920px;
  flex-direction: row;
}

.activitechar, .activitekid, .activitecata {
    position: relative;
    width: 200px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.activitechar::after , .activitecata::after, .activitekid::after {
   
    height:112px;
    width:200px;
    z-index: -1;
}

.imgtitremobil {
    display: none;

}


.description , .paragraphe{
    margin-bottom: 5rem ;
}

.lienactiviteaccueilkid {
    margin-right: 3rem;
    margin-left: 3rem;
    line-height: 3rem;
    text-align: center;
}

/********************* footer *******************/
.reseaux {
    justify-content: center;
 
}


}
/*********************************************************************************************************
          version desktop                        version desktop                        version desktop
*******************************************************************************************************/

@media screen and (min-width:1200px) {

    ::-webkit-scrollbar {
        display: none;
        scrollbar-width :none;

        }
        .element::-webkit-scrollbar { 
            width: 0 !important
         }

        .element {
            -ms-overflow-style: none;
          }
          .element {
            overflow: -moz-scrollbars-none;
          }
          body > div.navbaraccueil > nav {
            flex-wrap: nowrap;
          }
          body > div.navbarall > nav {
            flex-wrap: nowrap;
          }

    .admin-navbar {
        display: flex;
        justify-content: space-evenly;
    }

    .container {
        scrollbar-width: none;
       
        width: 85%;
        }
    .navbaraccueil {
        z-index:1;
        width: 100%;
        top:-15px;
        position: absolute;
      
    }



    .imgslider {
        width: 100%;
    }


    #slider {
        position: relative;
        top:12rem;
        /*position du parent qui ne bouge pas */
        width: auto;
        margin: 3rem 0rem 20rem 0rem;
        display: flex;
        align-items: center;
        overflow:hidden;
      
    }
    
    #precedent,
    #suivant {
        cursor: pointer;
        /*petite main au survol */
        transition: opacity 0.3s ease;
        /* opacité au survol, avec pseudo selector  :hover plus bas */ 
        opacity: 0;
        position: absolute;
        font-size: 100px;
        color: rgba(220, 220, 220, 0.8);
        background-color: rgba(0, 0, 0, 0.8);
        padding: 10px;
    }
    
    #precedent {
        left: 0;
        font-size: 3rem;
    }
    
    #suivant {
        right: 0;
        font-size: 3rem;
    }
    
    #slider:hover #precedent,
    #slider:hover #suivant {
        opacity: 1;
    }
   

   
    .titremobil {
        display: none;

    }
    
    .haccueil {
        display:block;
        font-size:4rem ;
    }
    
 .activiteaccueil {
    width:1000px;
    height:180px;
 }
 .activitecata::after {
    content: "";
   /* max-width:300px ;*/
    background : url(https://127.0.0.1:8000/assets/uploads/miniature-cata-accueil1.jpg);
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:168px;
    width:300px;
    z-index: -1;
}
.activitechar::after {
    content: "";
   /* max-width:300px ;*/
    background : url(https://127.0.0.1:8000/assets/uploads/groupe-cha-mini-1.jpg);
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:168px;
    width:300px;
    z-index: -1;
}
.activitekid::after {
    content: "";
   /* max-width:300px ;*/
    background : url(https://127.0.0.1:8000/assets/uploads/charbabyaccueil.jpg);
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:168px;
    width:300px;
    z-index: -1;
}
    .activitechar, .activitekid, .activitecata {
        position: relative;
        width: 300px;
        height: 168px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 1rem;
    }


    .description {
        flex-direction: row;
        align-items: center;
        margin:5rem 0rem 5rem 0rem;
    }
 

    
    .p-version-tablette {
        display:none;
    }


    .indicationpaiement {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .formloginregister {
        max-width: 500px;
    }

    #payment-form {
        max-width: 1200px;
    }


/**************************Footer desktop***************************************/


.reseaux {
    justify-content: space-around;
    margin: 6rem 0rem 6rem 0rem;
}

#footer nav ul li a {
    margin: 1rem;
}

}