{% extends 'base.html.twig' %}

{% block title %}admin-categorie
{% endblock %}

{% block body %}

	<main class="container">
		<h1>Choisir votre catégorie:
		</h1>
		{% for c in categorie %}
		<p>{{  c.title }}</p>	
          
		{% endfor %}
	</main>
{% endblock %}
